body {
    margin: 0;
}

.pageContainer {
    width: 100%;
}

.green {
    background-color: chartreuse;
}

.center {
    text-align: center;
}

.marTop {
    margin-top: 8px;
}

.fullmar {
    margin: 8px;
}

.inlineBlock {
    display: inline-block;
}
